@mixin make_container($breakpoints) {
  @each $bp, $size in $breakpoints {
    @media screen and (min-width: $size) {
      @if ($bp==sm) {
        .container {
          max-width: 600px;
        }
      }

      @if ($bp==md) {
        .container {
          max-width: 720px;
        }
      }

      @if ($bp==lg) {
        .container {
          max-width: 960px;
        }
      }

      @if ($bp==xl) {
        .container {
          max-width: 1170px;
        }
      }

      @if ($bp==xxl) {
        .container {
          max-width: 1480px;
        }
      }
    }
  }

  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}
